:root {
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(156, 41%, 18%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);

    --border-radius-round: .75rem;
    --margin-vertical: 1.45rem;
}

body {
    background-color: var(--cream);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Buttons */

button {
    font-family: unset;
}

.btn {
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.btn-outline-primary {
    border: solid 1px var(--dark-cyan);
    color: var(--dark-cyan);
}

.btn-primary {
    background-color: var(--dark-cyan);
    color: white;
}

.btn-outline-primary:hover {
    background-color: var(--dark-cyan);
    color: white;
}

.btn-primary:hover {
    background-color: var(--very-dark-cyan);
    color: white;
}

.btn svg {
    height: 1rem;
    margin-right: 0.5rem;
    vertical-align: text-top;
    width: 1rem;
}

/* Main Container Section */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

/* Product preview card Section */

.product-preview-card-container {
    background-color: white;
    border-radius: var(--border-radius-round);
    display: flex;
    height: auto;
    width: 37.5rem;
}

.product-preview-card-container img {
    height: 100%;
    width: 100%;
}

.product-img-desktop {
    border-radius: var(--border-radius-round) 0 0 var(--border-radius-round);
}

.product-img-mobile {
    border-radius: var(--border-radius-round) var(--border-radius-round) 0 0;
    display: none;
}

/* Product Info Section */

.product-info-container {
    color: var(--dark-grayish-blue);
    padding: 2rem;
}

.product-category {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0.37rem;
    margin-top: 0;
    margin: 0 0 var(--margin-vertical);
}

.product-name {
    color: var(--very-dark-blue);
    font-family: 'Fraunces', serif;
    font-size: 2.05rem;
    line-height: 1;
    margin: var(--margin-vertical) 0;
}

.product-description {
    font-size: 0.9rem;
    line-height: 1.6;
    margin: var(--margin-vertical) 0;
}

.price-container {
    align-items: center;
    display: flex;
    margin: var(--margin-vertical) 0;
}

.price-on-sale {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin-right: 0.6em;
}

.price-standard {
    font-size: .85rem;
    text-decoration: line-through;
}

/* Footer Section */

.footer {
    padding: 2rem;
}

.attribution {
    align-items: baseline;
    display: flex;
    font-size: 0.6875rem;
}

.attribution a {
    text-decoration: none;
    width: 14rem;
}

@media (max-width: 40.625rem) {
    .product-preview-card-container {
        flex-flow: column nowrap;
        width: 21.875rem;
    }

    .product-img-desktop {
        display: none;
    }

    .product-img-mobile {
        display: initial;
    }

    .product-info-container {
        padding: 1.5rem;
    }

    .attribution {
        flex-flow: column nowrap;
        align-items: center;
    }
}